[2021-01-20 07:27] iambumblehead opened #2 "ideas to speed things up"
* [x] cache resolved module paths,
 * <strike>try dummy cjs modules</strike>
 * store reference to _load stage live modules
 * <strike>use querystring mock paths</strike>

[2021-01-23 06:11] #2 closed

[2021-08-24 11:56] TimDaub opened #11 "what is the difference to quibble?"
see: https://github.com/testdouble/quibble

It seems that the functionality is the same, isn't it?

[2021-08-24 11:56] TimDaub opened #12 "Can I edit existing functions with esmock?"
Say I have a module

./to/module.js
[code]

and then another that uses esmock

[code]
Will this too work? Or is esmock just mocking imports?

[2021-08-25 02:04] iambumblehead commented on #12
@TimDaub hello and thank you for the star :). It only mocks the imports.

feel free to re-open if necessary

[2021-08-25 02:04] #12 closed

[2021-08-25 02:28] iambumblehead commented on #11
@TimDaub esmock uses separated mock definitions for each module and I don't think quibble does that. One process can run simultaneous tests importing the same module but with different mock definitions. Esmock locates the original module from the filesystem and maps mocked values into the originally exported ones and quibble's author thinks that is a bad practice.

There could be other differences

[2021-08-25 07:18] TimDaub commented on #11
With quibble, I ran into issues where in ava test - if I used quibble to mock a module in one test of a file, but then used that module in another test too - it'd now allow me to run those tests in parallel. Instead the program would start throwing errors as the mocking isn't isolated to one test but needs to be reset with `quibble.reset`.

Am I understanding your comment correctly that esmock fix

[2021-08-25 08:08] iambumblehead commented on #11
@TimDaub yes. And esmock will not have that problem. I believed quibble would have problems in that situation but haven't tested it myself. Thanks for sharing :) I'm glad to know about it.

[2021-08-25 08:19] iambumblehead commented on #11
my earlier comment isn't clear and maybe this example is better
[code]
mockedInst1 and mockedInst2 are separated instances with separately imported dependencies, even though their origin file is same.

[2021-09-07 23:54] Swivelgames opened #13 "Imports Aren't Mocked; Using Mocha, Sinon, Assert"
**Versions:**
- **node**: v16.7.0
- **esmock**: v0.3.9
- **mocha**: v9.0.3
- **sinon**: v11.1.2
- **c8**: v7.8.0

After running `npm i`, run: `npm run test` to get the error.
I'm attempting to mock an import, but it doesn't seem to be doing anything. I've tried everything, including just setting the `default` mock to return `class {}`, and it still throws the same error.

Here's a repo that can co

[2021-09-08 00:08] Swivelgames commented on #13
Here's a direct link to my test file: https://github.com/Swivelgames/_esmock_issues_13/blob/master/src/index.test.js

[code]

[2021-09-08 00:25] Swivelgames commented on #13
HAH. Figured out the issue.

Instead of:

[code]
I needed to do:
[code]

[2021-09-08 00:25] #13 closed

[2021-09-08 00:54] iambumblehead commented on #13
@Swivelgames I'm glad its working

[2021-10-27 17:06] mroderick opened #16 "Node 16.12+ breaks esmock"
When upgrading to latest node, we're seeing errors with using `esmock`.

With some investigation, it looks like `16.12` is the version that broke `esmock`.

[Node 16.12 CHANGELOG](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V16.md#2021-10-20-version-16120-current-richardlau)

#### How to reproduce

0. Check out this repository
1. `nvm use 16.11`
1. `npm ci`
1. `npm test`
2.

[2021-10-28 04:17] #16 closed, assigned to nobody

[2021-11-05 21:12] maherma-adg commented on #16
With version esmock@1.0.0  on 16.13.0 you get this warning:
(node:13737) DeprecationWarning: Obsolete loader hook(s) supplied and will be ignored: getSource

[2021-11-06 01:57] iambumblehead commented on #16
@maherma-adg do you recommend a way to resolve this? I searched for a way to conditionally export 'getSource' if node version is less than 16.12, but node forces the file to declare exports statically.

what do you think of think of this idea... two module loaders, one for node v12-v16.11 and another for node v16.13+
_node v12-v16.11_
[code]

_node v16.12+_
[code]

I'm not exactly sure if it will

[2021-11-06 01:59] iambumblehead commented on #16
I would prefer if "--loader=esmock" could be used always but how does one make that load a file that only exports "getSource" for node v12-v16.11?

[2021-11-06 02:35] iambumblehead commented on #16
@maherma-adg I found a way to make the warning go away https://github.com/iambumblehead/esmock/pull/19

[2021-11-06 02:44] iambumblehead commented on #16
@maherma-adg try the newest version

[2021-11-11 10:14] mroderick commented on #16
I can confirm that the issue has been resolved 👍

[2021-11-11 21:25] maherma-adg commented on #16
It's works with ava, but I can't make it work with jest, anyone can?

[2021-11-12 01:37] iambumblehead commented on #16
@maherma-adg I haven't tried it with jest, but doesn't jest process everything through a transpiler? Maybe that's why it doesn't work... maybe its transforming the sources into cjs or something similar

[2021-11-12 09:17] maherma-adg commented on #16
As far as I know, jest only transpile when needed ( and you must configure transpiler ) for TS, Vue, JSX, etc.  I'll try to dig deeper.
Thanks for your useful tool.
Manuel.

[2021-11-12 17:25] iambumblehead commented on #16
@maherma-adg https://jestjs.io/docs/ecmascript-modules try disabling transformations or configuring them to produce esm

[2021-11-24 04:23] aladdin-add opened #20 "not working in node 12.x (windows-latest)?"
does the package support node 12.x(windows-latest)?
I just got an error like `Error: modulePath not found: "../../lib/init/config-file.js"`. the weird thing is it's working fine in non-windows.

the job log: https://github.com/eslint/create-config/runs/4307659622?check_suite_focus=true

[2021-11-24 04:37] iambumblehead commented on #20
@aladdin-add the link returns a 404 page for me however I'm interested to reproduce and resolve the issue.

Maybe its possible to setup a windows node 12.x ci pipeline to catch this.

[2021-11-24 04:43] aladdin-add commented on #20
oh, sorry! didn't notice it's a private repo. will make a repro later.

[2021-11-24 04:47] aladdin-add commented on #20
https://github.com/aladdin-add/eslint-create-config/runs/4307915361?check_suite_focus=true

[2021-11-24 05:29] iambumblehead commented on #20
this windows-latest pipeline shows the failure https://github.com/iambumblehead/esmock/runs/4308082925?check_suite_focus=true

Unfortunately I don't have a windows machine but I'll message my friend who has one.

[2021-11-24 05:40] aladdin-add commented on #20
might be related to windows-style paths, e.g. `\node\module.js`?

[2021-11-25 20:07] iambumblehead commented on #20
@aladdin-add a little update here. I'm reproducing this using a virtual machine windows on mac.

<img width="1136" alt="Screen Shot 2021-11-25 at 12 05 12 PM" src="https://user-images.githubusercontent.com/2058705/143495809-708642cc-de45-4a33-9109-ec0e7102e68d.png">

[2021-11-25 23:39] iambumblehead commented on #20
@aladdin-add this issue relates to a specific requirement node has for paths returned by the module loader on Windows: those paths must begin with "file://" whereas other systems do not need this,
[code]
solving this part will probably get the tests to pass but I'm not sure if I'll get around to it today

[2021-11-26 05:28] iambumblehead commented on #20
all tests are passing here https://github.com/iambumblehead/esmock/pull/21

[2021-11-26 05:36] aladdin-add commented on #20
I've confirmed it was fixed in our repo. excellent job, thanks!! 💯

[2021-11-26 06:03] iambumblehead commented on #20
@aladdin-add thank you

[2021-11-26 06:15] aladdin-add opened #22 "support import() mocking?"
we are using `const eslint = await import("eslint");`(as some users may haven't installed eslint), but `eslint` was not right mocked in this case. the source is something like:

[code]

[2021-11-26 06:21] iambumblehead commented on #22
@aladdin-add inline "await import" isn't a tested use-case. Maybe support could be added.

[2021-11-26 06:30] aladdin-add commented on #22
I was rewriting `eslint --init` to a separate esm package, and this one is the last failing case.

I'm happy to help if you can offer some guide. :)

[2021-11-26 06:33] iambumblehead commented on #22
The simplest solution would replace `await import('eslint')` inside the file source. Regexp replace might be the quickest way but it would be fragile, an acceptable tradeoff.

[2021-11-26 06:37] iambumblehead commented on #22
The flow between the module loader and the regular files is un-intuitive. You're welcome to try and make changes but these files may give you a headache and they're unfriendly. I'll publish the PR and prototype something for this issue next.

[2021-11-26 06:45] iambumblehead commented on #20
closing as resolved

[2021-11-26 06:45] #20 closed

[2021-11-26 09:03] iambumblehead commented on #22
A test like this is passing locally. Some changes are hard-coded but they demonstrate what's possible,
[code]
The file using the mocked module gets loaded and transformed within the loader, or inside the esmock files called from the test.

@aladdin-add I'm not sure if regular expressions are sufficient to transform the files. Maybe there's a nicer way to transform them using a parser. If you would

[2021-11-26 10:04] aladdin-add commented on #22
have you pushed the change? I can try to test it in our repo.

IMHO, regexp should be enough for most cases, just need a few more testing for varieties of cases.

[2021-11-26 10:22] iambumblehead commented on #22
@aladdin-add a hardcoded value is returned in a place that might, in the future, transform the sources. Its a proof of concept that breaks any test using it other than the exact test given above.

maybe one of these could be used
https://gist.github.com/manekinekko/7e58a17bc62a9be47172
https://github.com/sedenardi/import-regex/blob/master/test/test.js

[2021-11-26 18:37] iambumblehead commented on #22
There are a few other, better, ideas for using the module loader rather than transforming the source files. Those ideas will complicate esmock's interface a little bit and I'm thinking about ways to present the interface.

[2021-11-26 19:27] iambumblehead commented on #22
@aladdin-add it works with only a few lines of changes... I'll push up something soonish

[2021-11-26 21:03] iambumblehead commented on #22
@aladdin-add the branch is here https://github.com/iambumblehead/esmock/pull/23

[2021-11-26 21:06] iambumblehead commented on #22
esmock already supported 'await import' but was clearing its cache before those mocked definitions could be loaded. Changing so that the module loader can be used is a good solution and much better than using regexp replace on the source files.

[2021-11-26 21:12] iambumblehead commented on #22
@aladdin-add it is published and if everything is good feel free to close this issue. Use a call like this one that includes `{ isPurge: false }`
[code]

Feel free to give suggestions for the interface as well.

[2021-11-26 23:40] iambumblehead commented on #22
maybe adding an extra esmock member would be a better way of handling this... something like this
[code]

or maybe defining the value inside the existing mock object would be good
[code]

[2021-11-27 00:22] iambumblehead commented on #22
@aladdin-add esmock is updated and now supports this interface that you should use,
[code]
if you have only one test using `esmock.p`, leaving out the `esmock.purge` call is fine

[2021-11-29 03:54] aladdin-add commented on #22
it works for me. thx! ❤️

[2021-11-29 03:54] #22 closed

[2021-12-14 03:34] aladdin-add opened #41 "Error: modulePath not found: "../../lib/init/config-file.js""
the gh actions passed, but we've got the error when releasing.
job log: https://jenkins.eslint.org/job/Releases/job/eslint-create-config%20Release/1/console

I just noticed there is a space(%20) in the dirname. maybe this is the cause?
[code]

[2021-12-14 03:41] iambumblehead commented on #41
interesting. I'll try to add a test that catches this.

[2021-12-14 03:41] iambumblehead commented on #41
thanks for reporting @aladdin-add

[2021-12-14 04:20] iambumblehead commented on #41
I did find a whitespace-related error with a test. I'll push up changes soon.

[2021-12-14 04:23] iambumblehead commented on #41
when file name that comes into the module loader has encoded whitespaces

[2021-12-14 04:37] iambumblehead commented on #41
@aladdin-add the PR is here https://github.com/iambumblehead/esmock/pull/42 if you're around to review that would be awesome, otherwise I'll probably merge as-is and publish to expedite the changes for you

[2021-12-14 04:39] iambumblehead commented on #41
the error I caught is slightly different from the one you reported. I did not see the 'modulePath' not found error but will try to reproduce that in the PR next.

[2021-12-14 04:43] iambumblehead commented on #41
I renamed the directory holding esmock to include whitespace and the tests file :)

[2021-12-14 04:56] aladdin-add commented on #41
actually, there is another error like `Error: not a valid path: "../../lib/shared/logging.js"`. I can repro the error when renaming the project dir from `create-config` to `create config`.

just tried the commit: `github:iambumblehead/esmock#f91a8e053444c7bb5e4159d974b165e6eb544ce6`, however it did not work.

[2021-12-14 05:02] iambumblehead commented on #41
@aladdin-add another change coming to that PR in a minute or two that might resolve the issue

[2021-12-14 05:20] #41 closed

[2022-02-15 08:19] kdhttps opened #46 "Error: not a valid path: "got""
## Details

Facing error only when I tried to mock [got](https://www.npmjs.com/package/got)

[code]

Code samples:

[code]

[code]

## Current behavior
Facing `not a valid path: "got" ` when try to mock [got](https://www.npmjs.com/package/got)

## Expected behavior
esmock should mock `got`

## Environments
Ubuntu 18
Node 16.13.0
NPM 8.1.0

Thank you!

[2022-02-15 17:25] iambumblehead commented on #46
@kdhttps thanks for opening this issue I'll take a look today. Maybe esmock needs to be updated with behaviour to resolve another es-type of export. I'll take a look soon

[2022-02-15 19:14] iambumblehead commented on #46
https://github.com/iambumblehead/resolvewithplus/pull/14

This PR updates the package that will resolve the issue.

I hope you and others will continue to open issues. There are several complicated patterns of esm package.json exports and they aren't well defined. I'll update and add support for new patterns as they're encountered.

[2022-02-15 19:27] iambumblehead commented on #46
@kdhttps the issue should be resolved with the latest version of esmock 1.7.4

feel free to close this discussion if the issue is resolved for you

[2022-02-16 08:35] kdhttps commented on #46
thanks, much @iambumblehead :) but It is not mocking `got`, getting original API data in `got.get()` response instead of mock data.

[code]

[code]

am I missing something?

[2022-02-16 08:42] iambumblehead commented on #46
@kdhttps "got" exports both default _and_ named exports. Explicitly define default this case ... try this,
[code]

[2022-02-16 08:45] kdhttps commented on #46
Cheers :tada: It is working. Thanks a lot again @iambumblehead . Closing this issue!

[2022-02-16 08:45] #46 closed

[2022-02-28 15:03] OlaoluwaM commented on #16
How can I set the loader?

[2022-03-07 07:54] GalRab opened #48 "support typescript [basic support is working]"

[2022-03-08 02:42] iambumblehead commented on #48
@GalRab I'm not sure if typescript can be supported now because typescript tests require "--loader=ts-node/esm" and there is not currently a way to use both loaders for one node process, "ts-node/esm" and "esmock" https://github.com/nodejs/modules/issues/513

I tried a little test using this command,
[code]

I get errors like these depending upon if --experimental-specifier-resolution=node is incl

[2022-03-08 03:04] iambumblehead commented on #48
@GalRab would you create a branch that has a single, passing typescript test inside the esmock sources? inside a file such as "spec/ava-ts/esmock.ava.spec.ts"? Try to include the most minimal setup and smallest tsconfig.json file possible.

I'm not too familiar with typescript at the moment but if you'll give me the good starting point maybe I can find a solution...

[2022-03-08 03:27] iambumblehead commented on #48
@GalRab I've managed to get a working typescript test in local esmock sources, but when I include the additional esmock loader "--loader=esmock" there's a runtime error,
[code]
I'm not sure how to resolve this, but in this case, esmock's "getSource" loader is not processing .ts file and simply passes the getSource arguments to node's native getSource loader.

[2022-03-08 03:42] iambumblehead commented on #48
some notes for myself in case I need to try this again later...

_package.json_
[code]

_tsconfig.json_
[code]

[2022-03-08 06:24] iambumblehead commented on #48
closing this but it could be re-opened in the future when typescript's module loader can be used with other loaders

[2022-03-08 11:15] GalRab commented on #48
I'll leave it for now. but maybe it can be done by calling Javascript output as a workaround.

example:

`test("test", async (t) => {
  const main = await esmock("../dist/src/Check.js", {
    "../dist222/src/CheckSRC.js": {
      getData: () => Promise.resolve("mock1111"),
    },
  });
  t.is(await main.foo(), `foo2`);
});`
The path conatins **.js** and **../dist**

package.json:
` "test-ava": "av

[2022-03-08 17:12] iambumblehead commented on #48
@GalRab yes that should work

[2022-03-27 12:55] aladdin-add opened #49 "not working on node.js v17.8.0"
see the log: https://github.com/eslint/create-config/runs/5709601942?check_suite_focus=true.

the weird thing is I didn't see how it is affected in node.js' changelog. (#_<-)

[2022-03-27 16:52] iambumblehead commented on #49
@aladdin-add thanks for messaging me. I took a quick look now and it looks like node's native resolve hook, used by esmock, is updated to return a promise so after making this change the tests all pass again
[code]

I'll publish the change soonish

[2022-03-27 17:00] #49 closed

[2022-03-27 17:08] iambumblehead commented on #49
@aladdin-add feel free to re-open if you encounter any issue :)

[2022-03-27 20:41] iambumblehead commented on #16
@OlaoluwaM if you make a PR with a sample basic jest test in it, I can try and make things work with that

[2022-04-03 18:06] cspotcode commented on #48
Check out @cspotcode/multiloader to use multiple loaders at the same time.

https://www.npmjs.com/package/@cspotcode/multiloader

Also follow along with node's loaders team, because they are adding support for multiple loaders to node:
https://github.com/nodejs/loaders

[2022-04-10 18:45] BadIdeaException opened #51 "Mocked dependency still gets evaluated"
I have the following `beforeEach` hook in a mocha test suite:
[code]
However, file `config.js` still gets evaluated - if I insert a `console.log` statement I can see the output. This is not intended behavior, or is it? <strike>At least, this never happened until recently. Might it have something to do with the fix to #49?</strike> I am on NodeJS 17.9.0 and esmock 1.7.5.

**EDIT:**
My bad for the p

[2022-04-10 20:47] iambumblehead commented on #51
https://github.com/iambumblehead/esmock/blob/master/src/esmockModule.js#L97-L98

@BadIdeaException esmock currently does something like this paraphrased example,
[code]

[2022-04-11 17:24] BadIdeaException commented on #51
Ah, I see. I think I misunderstood a little bit what esmock was supposed to do then. I thought it replaced an entire _module_ with a mock, but it actually replaces specific _exports_ of a module.

Thank you for clearing that up for me so quickly. I will close this issue then. Cheers.

[2022-04-11 17:24] #51 closed

[2022-05-11 13:58] cjroebuck opened #52 "support NODE_OPTIONS"
currently you need to pass `--loader=esmock` as an argument to node because [esmock checks only process.argv](https://github.com/iambumblehead/esmock/blob/master/src/esmockLoader.mjs#L7-L8).

It would be good to support NODE_OPTIONS env var too.

[2022-05-11 17:31] iambumblehead commented on #52
@cjroebuck would you show how esmock should be started with NODE_OPTIONS? maybe support could be added.

[2022-05-11 19:35] cjroebuck commented on #52
It would be something like:

`NODE_OPTIONS='--loader=esmock' node src/whatever.js`

Thank you very much for esmock

[2022-07-14 05:01] Swivelgames opened #53 "Node 18 throws ERR_LOADER_CHAIN_INCOMPLETE"
_More details to follow shortly!_

[code]

[2022-07-14 05:31] #52 closed

[2022-07-14 05:56] iambumblehead commented on #53
I was going to publish the other PR and the tests were failing locally. Using node v18.5.0, this patch resolves the errors,
[code]

adding it in a separate PR soonish

[2022-07-14 06:06] iambumblehead commented on #53
When running the tests locally this error is not seen. How does one reproduce this?

[2022-07-14 06:45] Swivelgames commented on #53
My apologies. Forgot to come back and fill out more details.

[code]

Running the following produces the error:
[code]

<details><summary>Here's an exhaustive display of the errors I received locally when testing:</summary>

[code]

</details>

[2022-07-14 06:46] Swivelgames commented on #53
Looks like this was an issue introduced with `v18.6.0`

[2022-07-14 06:49] Swivelgames commented on #53
I did some digging, and it looks like it was a breaking change introduced here: https://github.com/nodejs/node/pull/42623

In the [release notes of the tag](https://github.com/nodejs/node/releases/tag/v18.6.0), they reference this article as well: https://dev.to/jakobjingleheimer/custom-esm-loaders-who-what-when-where-why-how-4i1o

[2022-07-14 06:54] iambumblehead commented on #53
Thanks for all the info. Upstream node 18.5.0-1 is still used by my package manager but that will probably update in the next day or two.

[2022-07-14 06:59] iambumblehead commented on #53
wonder if there is any negative consequence to using 'shortCircuit: true'... returning that extra property in the load and resolve hooks likely resolves the issue w/out any further changes

[2022-07-14 07:03] Swivelgames commented on #53
I actually tried that, and it fixes all but one of the tests. The remaining failing test complains about a missing `"responseURL"`, oddly enough.

[code]

<details><summary>Here are the results that I got when I changed it:</summary>

[code]

</details>

[2022-07-14 07:13] Swivelgames commented on #53
Additional test:
[code]

Resulted in:
[code]

[2022-07-14 07:38] iambumblehead commented on #53
https://github.com/guybedford/node/blob/106303679fa98c5337494aef0c89ffeeaa971832/lib/internal/modules/esm/loader.js#L376
https://github.com/guybedford/node/blob/106303679fa98c5337494aef0c89ffeeaa971832/lib/internal/modules/esm/loader.js#L553

its _possible_ the tests could pass if the loaders return an additional field "responseURL". not sure if the responseURL should include the query string or n

[2022-07-14 08:15] iambumblehead commented on #53
@Swivelgames if all tests pass with that change, its probably a good change

[2022-07-14 08:22] Swivelgames commented on #53
@iambumblehead Looks like the change was actually replacing all spaces with `%20`, believe it or not.

I'll finish testing and push a PR shortly.

[2022-07-14 08:36] #53 closed

[2022-07-17 05:34] iambumblehead commented on #52
related https://github.com/TypeStrong/ts-node/discussions/1748

[2022-07-18 00:12] iambumblehead opened #64 "make partial mocks an optional thing rather than default thing"
the situation reported in this ticket should not happen unless it is specified somehow https://github.com/iambumblehead/esmock/issues/51

so instead of something like this
[code]

we want something like this to happen instead
[code]

[2022-07-18 00:23] iambumblehead commented on #64
maybe the behaviour could be specified by calling esmock this way
[code]

[2022-07-18 08:55] #64 closed

[2022-07-18 10:24] larsthorup commented on #48
FYI: Since node@18.6 it appears that having multiple loaders is now supported:

https://github.com/nodejs/node/blob/main/doc/changelogs/CHANGELOG_V18.md#18.6.0

[2022-07-18 22:45] iambumblehead commented on #48
In experiments here, this sequence of events occurred when loading esm modules only
 1. `await import('file.mjs')` is called from the test stack
 2. `resolve( specifier, { parentURL: 'file.mjs' });` hook is called from the module loader stack
 3. `load( 'file.mjs' )` hook is called from the module loader stack
 4. 'file.mjs' is imported and control returns to the test stack

When cjs modules are l

[2022-07-19 01:43] iambumblehead commented on #48
node v18 loads both module types in the same way without any handshake or special cjs loading behaviour. A new version 2.0.0 could be released so that the current 1.8.0 version could support older node versions and the newer 2.0.0 version could support newer things like typescript.

[2022-07-19 02:39] iambumblehead commented on #48
ava + typescript tests at esmock always fail. These tests try to use ts-node/esm,

<details><summary>load tests using NODE_OPTIONS, ts-node first<br />
using `NODE_OPTIONS='--loader=ts-node/esm --loader=esmock'`</summary>

[code]
</details>

<details>
<summary>load tests using NODE_OPTIONS, esmock first<br />
using `NODE_OPTIONS='--loader=esmock --loader=ts-node/esm'`</summary>

[code]
</details>

[2022-07-19 03:04] iambumblehead commented on #48
@cspotcode `shortCircuit : true` can be removed from esmock master branch sources and the tests still pass. nextLoad needs to be called instead and this seems fine as far as the esmock behaviour goes

[2022-07-19 04:09] iambumblehead commented on #48
I'm able to load this test file with this command: `node --no-warnings --loader=ts-node/esm --test ./main.test.ts`

_main.test.ts_
[code]
but if I un-comment the esmock import there is an error
[code]
I'm not very familiar with typescript but maybe this is getting close

[2022-07-19 07:05] iambumblehead commented on #48
@cspotcode generally the loading behaviour and sequence used with cjs modules is different from that used by mjs modules. Politely, it seems possible, based on my experience with both formats, that there are problems because ts-node uses a cjs module for its module loader.

[2022-07-19 07:07] Swivelgames opened #67 "Support for NPM Workspaces"
This is a bit of a weird one. I've noticed that there are certain scenarios where `esmock` fails with [NPM's Workspaces](https://docs.npmjs.com/cli/v8/using-npm/workspaces).

I'm not entirely sure where to start with this particular issue, though. But I went ahead and [created an example repo](https://github.com/Swivelgames/esmock-issue-67) that reproduces the issue.

If you clone the repo, you ca

[2022-07-19 07:11] Swivelgames commented on #67
The patch file referenced can be found here:

https://github.com/Swivelgames/esmock-issue-67/blob/master/add-tests.patch#L1-L72

[2022-07-19 07:11] iambumblehead commented on #48
I tried using esbuild, which does export an esm module, and the same recursive loader calls occurred there also,
[code]

[2022-07-19 07:34] Swivelgames commented on #67
I have a real-world example of this issue existing out in the wild, but it's in a GitLab repo.

[2022-07-19 15:05] iambumblehead commented on #48
@cspotcode I believe the issues above originates from esmock because, when using diferent combinations of loaders, combinations that include esmock always fail with this recursive load hook error

[2022-07-19 17:48] iambumblehead commented on #48
@cspotcode update! ts-node and esmock are both working together locally!

[2022-07-19 19:45] cspotcode commented on #48
Sounds good.  I was pinged on a bunch of these messages, but just to clarify, ts-node does not need to make any code changes, correct?

[2022-07-19 19:50] iambumblehead commented on #48
@cspotcode I apologize for pinging you many times and will stop. No changes are needed.

[2022-07-19 21:39] iambumblehead commented on #48
initial typescript support is ready at this PR https://github.com/iambumblehead/esmock/pull/68

[2022-07-19 22:14] iambumblehead commented on #67
https://docs.npmjs.com/cli/v8/using-npm/workspaces

@Swivelgames thanks for the example. I was able to see the error there and am able to reproduce the error.

Do you know of a nice way to return matching glob path combinations like this from node?
[code]

If there is an easy way to expand the globs into existing paths without dramatically increasing the size of this package, this might be easy to

[2022-07-19 22:30] iambumblehead commented on #67
@Swivelgames would be it be OK to support only fixed paths in workspaces?

for example, a package.json with this...
[code]

if esmock supported this, another, optional package could be used to redefine "workspaces" with expanded system paths usable with esmock.

[2022-07-20 00:06] Swivelgames commented on #67
@iambumblehead Actually, interestingly enough, I don't think this is an issue with `resolvewithplus`. I had originally started creating an issue ticket on that repo, but I did some debugging and discovered that it was actually resolving properly.

However, there seems to be a disconnect between the module being mocked and being resolved.

I added a new `debug.patch` to the [repo I created for this

[2022-07-20 00:34] iambumblehead commented on #67
nice way of showing this. I don't actually know what the issue might be but I wish I weren't headed out now because I would like to resolve it.

[2022-07-20 00:58] #48 closed

[2022-07-20 01:06] iambumblehead commented on #48
@larsthorup @GalRab if you have a chance to test esmock with typescript please share your experience,
[code]

[2022-07-20 01:11] Swivelgames commented on #67
@iambumblehead No worries :) I'm going to keep poking at it soon. I'm currently teaching a programming course, but then I'm planning on reviewing your PR, and then coming back to this issue.

[2022-07-20 03:24] Swivelgames commented on #67
Updated with the latest version that you released a few hours ago.

[code]

[code]

<details><summary>debug.patch</summary>

[code]

</details>

[2022-07-20 03:28] Swivelgames commented on #67
[code]

[2022-07-20 04:05] Swivelgames commented on #67
Looks like the problem is symlinks...

Our regex is looking for:
[code]

Whereas our module was located here:
[code]

Notice the `node_modules` part :)

[2022-07-20 04:15] Swivelgames commented on #67
It looks like the built-in Node Resolver is resolving symlinks.

This is might be an issue with `resolvewithplus` not fully resolving symlinks. :thinking:

[2022-07-20 04:48] Swivelgames commented on #67
I'm not sure if this is something we want to move to `resolvewithplus` instead, but I went ahead and used `fs.realpathSync.native` and it seemed to fix the issue entirely.

[2022-07-20 05:42] #67 closed

[2022-07-20 05:54] larsthorup commented on #48
@iambumblehead thank you for quickly releasing a fix for this. I don't use transpilation much myself, my interest in esmock and multiple loaders stems from experiments building a modular testing tool, where mocking would be handled by esmock and watch-mode would be handled by another loader, so this fix allows me to continue these experiments.

[2022-07-20 16:49] iambumblehead opened #71 "notes to consider adding minification to the publish step"
here are the results from running a command like this on files in src
[code]

| **name**        | **src**           | **mini**  | **difference** |
| ------------- | ------------- | ----- | ---- |
| _esmock.js_     | 1500 | 731 | **769** |
| _esmockCache.js_      | 888      |   427 |  **661** |
| _esmockLoader.js_ | 209      |    184 | **25** |
| _esmockModule.js_ | 6500   |    2500 | **4000** |
|

[2022-07-20 17:01] iambumblehead commented on #71
minifying resolvewithplus.js reduces size from 7.0K to 2.2K, total difference **4800.**

Another optimisation would move unit-test script commands from package.json into the test folders ignored by the npm publish step, things like these:

[code]

[2022-07-20 17:12] iambumblehead commented on #71
_another micro-optimisation_ would be to switch the license from MIT to ISC to reduce size from 1.1k to 750, _total difference 350._

[2022-07-21 04:24] iambumblehead commented on #71
I'll add to and update this list as things are made smaller,

**esmock's install size is reduced from 31.8kB [to 25.67kB][0]**
  * **-6.13kB,** using minification steps [to shrink resolvewithplus][1]

[0]: https://packagephobia.com/result?p=esmock
[1]: https://github.com/iambumblehead/esmock/pull/72

[2022-07-21 05:45] iambumblehead opened #73 "add a c8 code coverage badge to improve npm search listing"
https://stackoverflow.com/questions/59203704/how-create-a-badge-with-test-coverage-jacoco-on-github-actions

[2022-07-22 06:21] iambumblehead commented on #71
closing this. release page is here https://github.com/iambumblehead/esmock/releases/tag/v1.8.4

[2022-07-22 06:21] #71 closed

[2022-07-22 06:38] iambumblehead opened #78 "improve minification steps"
a special kind of glob expansion needs to be happen in the windows CI pipeline and maybe something like this could be used https://superuser.com/questions/460598/is-there-any-way-to-get-the-windows-cmd-shell-to-expand-wildcard-paths#answer-829556

[2022-07-22 11:33] iambumblehead commented on #78
closed at https://github.com/iambumblehead/esmock/pull/79

[2022-07-22 11:33] #78 closed

[2022-07-24 00:59] iambumblehead commented on #73
closing this issue and might reopen it later, because its not certain if this is necessary

[2022-07-24 00:59] #73 closed

[2022-07-25 03:58] aladdin-add opened #87 "Error [ERR_MODULE_NOT_FOUND] on node.js v14 (ubuntu-latest)"
esmock@1.8.7
node: v14

you can see the github action log: https://github.com/eslint/create-config/runs/7493137743?check_suite_focus=true#step:5:12

[2022-07-25 04:04] iambumblehead commented on #87
adding a v14 CI pipeline in a new branch to see if the error shows up there

[2022-07-25 04:26] iambumblehead commented on #87
possibly the issue was introduced here https://github.com/iambumblehead/esmock/pull/68#issuecomment-1191884521

[2022-07-25 04:42] aladdin-add commented on #87
I pinned to `v1.7.x`, it seems working fine. https://github.com/eslint/create-config/pull/33/commits/e261c3f3c10c87416371d355fcc093f1050d68a9

[2022-07-25 04:55] iambumblehead commented on #87
@aladdin-add ok I'm relieved if you have a short-term solution.

If I touch one of the package.json files in esmock, the tests pass and I can't reproduce the error again. I wonder what the issue could be.

[2022-07-25 05:50] iambumblehead commented on #87
closing this because the v14 pipeline is passing and new sources are published

feel free to reopen for any reason

[2022-07-25 05:50] #87 closed

[2022-07-25 05:58] aladdin-add commented on #87
works for me. thx for the quick fix! 👍

[2022-07-25 06:00] iambumblehead commented on #87
thank you for sharing this issue with me and for helping me to improve this project

[2022-07-25 09:03] tripodsan opened #91 "TypeError: Cannot add property default, object is not extensible"
with the upgrade to 1.8, I get:

[code]

[code]

- trying to mock `@aws-sdk/client-sns`
- with 1.7.8, it still works fine. also note that I use a partial mock.
- node v16.16

[2022-07-25 09:31] tripodsan commented on #91
I added a `console.log(n)` to the minified code:
[code]

it doesn't look like it comes from `@aws-sdk/client-sns`

[2022-07-25 09:35] tripodsan commented on #91
the mock looks like:

[code]

and `notifications.js` contains (no default export):

[code]

[2022-07-25 14:08] iambumblehead commented on #91
@tripodsan thanks for opening this issue. If you would PR-add a test-case to any of the test runner folders [here,][0] I could resolve the issue sooner. From esmock's root folder use `npm install && npm run test:install` to fetch all dependencies needed, then from whichever test folder is being used, `npm test` will run tests.

The error might [originate here,][1] but it might be challenging for m

[2022-07-25 14:38] iambumblehead commented on #91
@tripodsan the error is reproduced in a test [added at the PR here][0] but the test would be incomplete because I'm not sure what the success condition should look like

[0]: https://github.com/iambumblehead/esmock/pull/92

[2022-07-25 14:49] tripodsan commented on #91
ok. I'll have a look. thanks so far

[2022-07-25 15:16] iambumblehead commented on #91
@tripodsan btw I think this is the solution
[code]
if we could update the test to hone in on this area specifically, without the aws client dependency that would be awesome.

[2022-07-25 15:30] tripodsan commented on #91
I added a PR to your PR: https://github.com/iambumblehead/esmock/pull/93

which uses a simpler version (without sns).

but I wasn't able to reproduce the error with the `constructor` that I had above...

[2022-07-25 16:01] iambumblehead commented on #91
@tripodsan the changes are published.

Feel free to re-open this issue of the problem is not resolved or for any reason really

[2022-07-25 16:01] #91 closed

[2022-07-25 16:14] iambumblehead opened #94 "follow up on PR review suggestions"
* [x] follow up on comments here https://github.com/iambumblehead/esmock/pull/89#pullrequestreview-1048895505 and any comments that might appear here https://github.com/iambumblehead/esmock/pull/92
 * [x] lint and update examples in wiki. some colon follow space `key : val` other do not `key: val`
 * [ ] join multi-line mock examples near bottom of wiki
 * [ ] begin adding coverage badge `'/All\ f

[2022-07-27 11:13] iambumblehead commented on #94
also, should lint the examples in wiki (some : and others:), join mock examples at wiki, add partial mocking to wiki

[2022-07-27 11:15] iambumblehead commented on #94
make extensible object test nicer

[2022-07-27 15:06] iambumblehead commented on #94
add social image preview to settings

[2022-07-29 09:44] iambumblehead commented on #94
something like this is working here, but combining the two causes some problem with node message output
[code]

[2022-07-30 21:43] iambumblehead commented on #94
closing this because most of the "higher priority" items listed have been taken care of

[2022-07-30 21:43] #94 closed

[2022-07-30 23:04] iambumblehead commented on #94
current list of things to do
 * (wiki) join multi-line mock examples near bottom of wiki
 * (wiki) add partial mocking to wiki
 * (wiki) add note about package resolution https://nodejs.org/api/packages.html#exports
 * (wiki) remove node about node16

[2022-07-31 08:44] iambumblehead commented on #94
* update module.exports for package.json per form-urlencoded
 * add % sign to coverage badge label
 * convert npm badge to shields or same format as other badges, get same smaller label and font
 * add CONTRIBUTING

[2022-08-02 08:53] tripodsan opened #106 "esmock 1.9.1 and eslint: Unable to resolve path to module 'esmock'"
With 1.9.1 I get:

[code]

the problem are the `exports` added in: https://github.com/iambumblehead/esmock/commit/96d2754ec0974a29d8323e3122515c4d0bbd77ea

also see:
https://nodejs.org/docs/latest-v16.x/api/packages.html#package-entry-points

when I add the

[code]

again, it works.

[2022-08-02 15:33] #106 closed

[2022-08-02 15:57] iambumblehead commented on #106
@tripodsan I apologize for breaking this. The PR you made has been published.

[2022-08-03 02:47] aladdin-add commented on #106
it's just that plugin does not support `exports` yet.

related: https://github.com/import-js/eslint-plugin-import/issues/2495

[2022-08-03 05:59] tripodsan commented on #106
yes, but also I'm not sure that the exports are correct this way:

[code]
@iambumblehead , what was the intention of those? if you look at the nodejs doc, all sub-package exports usually start with a `./`.
so, something like:

[code]

would make more sense.

[2022-08-03 06:21] aladdin-add commented on #106
I think it's working as expected, it's the same as:
[code]

[2022-08-03 07:15] tripodsan commented on #106
ah right, those are [conditional exports](https://nodejs.org/docs/latest-v18.x/api/packages.html#conditional-exports)

[2022-08-03 07:17] iambumblehead commented on #106
The pattern was changed in order to ensure support with newer versions of typescript. I accidentally removed too many fields and, to catch issues in the future, I'll try requesting reviews.

The export pattern is seen here https://nodejs.org/api/packages.html#approach-2-isolate-state and the pattern was recommended here https://github.com/iambumblehead/form-urlencoded/pull/45

The `exports['.']` a

[2022-08-06 19:55] iambumblehead commented on #106
would one of you review my PR here? https://github.com/iambumblehead/resolvewithplus/pull/24

[2022-08-12 07:52] alucryd opened #109 "Can't get esmock to work"
Hi there, I'm probably using esmock wrong, but I can't seem to get it to work. I'm trying to test an express app with jest and supertest, but since jest doesn't support esm I turned to esmock for my mocking needs.

Here's my project layout:
![image](https://user-images.githubusercontent.com/1561084/184309216-b8a31011-07b7-4140-b803-cb5aee91b4e2.png)

So I came up with the following:

[code]

The `

[2022-08-12 12:46] iambumblehead commented on #109
@alucryd try using esmock this way with jest-light-runner. The third parameter to esmock applies mock definitions "deeply" to app.js' returned import tree
[code]

[2022-08-12 12:54] iambumblehead commented on #109
@alucryd if 'getByEnvelopeTableName' is a member of 'default' try something like this
[code]

[2022-08-14 00:05] jakebailey opened #110 "esmock.d.ts export incorrect"
I tried importing `esmock` and got:

It looks like this `d.ts` file is handwritten; rather than what it currently says:

[code]

I believe this should actually read:

[code]

Which matches what TS would output for the code you've written in your `js` file. [Playground Link](https://www.typescriptlang.org/play?#code/MYewdgzgLgBAphAtiYBrGBeGBDCBPMYGACgAdsoALALhmgCcBLMAcwBoYAbFbT5NAPy1sYPBxbcARr36ohO

[2022-08-14 00:13] iambumblehead commented on #110
@jakebailey would you make a PR? I would do this but am in the middle of something atm

[2022-08-14 00:15] jakebailey commented on #110
Sent #111.

(It'd be cool for this to be in TS from the start, or have a more complete d.ts file, but that's a different problem than me not being able to import it from my code at all.)

[2022-08-14 00:18] iambumblehead commented on #110
We're in the process of dramatically improving the interpretation of esm import and export patterns and the changes should be ready in a few days. Please open an issue if you find anything in the current version of the package.

The PR will be published soonish -- thank you :)

[2022-08-14 00:19] #110 closed

[2022-08-14 00:31] iambumblehead commented on #110
@jakebailey it is published https://github.com/iambumblehead/esmock/releases/tag/v1.9.3

[2022-08-14 00:32] jakebailey commented on #110
Thanks, it's working now! (Besides a bug with relative module paths, which I'll try to report somehow.)

[2022-08-14 00:36] iambumblehead commented on #110
@jakebailey hopefully a solution will come soon thanks for making this package better

[2022-08-14 21:27] jakebailey opened #113 "esmock fails if source maps are used"
I have a TS project using ava on TS's output. I have to do this as my project calls into `import.meta.resolve` / `import-meta-resolve`, and I want to test on my project as it ships to users. I have source maps enabled so that I can debug / run coverage on my tests.

Unfortunately, esmock doesn't seem to work if source maps are enabled.

Here's a minimal repro: https://github.com/jakebailey/esmock-

[2022-08-15 04:27] iambumblehead commented on #113
If esmock's interface is updated to support a 'parent' value defined in the fourth parameter, would that be a good solution? what do you recommend?
[code]

[2022-08-15 05:40] jakebailey commented on #113
It'd be an API break, but I would think this would be a required parameter, and "callePath" ceases to be automatically detected.

[2022-08-15 09:54] gmahomarf opened #115 "Error when mocking core modules with the `node:` prefix (minor annoyance)"
Context:
[code]

Trying to do something like the following:
[code]

Results in the following error:
[code]

This works without changing `someModule.js`:
[code]

However, now the module URLs in the tests and the original module are different. I've opened a PR in iambumblehead/resolvewithplus#27 to add support for the `node:` prefix.

[2022-08-15 15:45] iambumblehead commented on #115
@gmahomarf thanks for the great PR which will be published soonish https://github.com/iambumblehead/esmock/pull/116

This temporary work-around was needed for now. The long-term solution is for resolvewithplus to return the final path always with the protocol like import.meta.resolve would. The long-term solution can probably be added before next-week,
[code]

[2022-08-15 15:56] iambumblehead commented on #115
it is published to [esmock@1.9.4](https://www.npmjs.com/package/esmock)

[2022-08-15 16:00] iambumblehead commented on #115
this seems to be resolved but feel free to reopen if necessary

[2022-08-15 16:00] #115 closed

[2022-08-15 19:47] jakebailey commented on #113
Just for reference for anyone finding this, my current workaround is this:

[code]

Then, when testing:

[code]

[2022-08-16 08:22] alucryd commented on #109
Your first suggestion with jest-light-runner worked like a charm, thank you!

[2022-08-16 08:22] #109 closed

[2022-08-16 16:27] vueme opened #118 "Issue with partially mocking module that is also used within same file by another module"
Hello.

I think I've found an issue. I'm having trouble with partially mocking deeply nested module that is also used in same file. Example below. I'm on Mocha and Node 17.4.0.

[code]

troublesomeFile.js
[code]

supertest.js (might not be relevant)
[code]

When funcTwoSameFile is called somewhere deeply nested in app.js, original version of funcOne is called and not the mocked one. Is this some k

[2022-08-16 17:37] iambumblehead commented on #118
https://github.com/iambumblehead/esmock/blob/master/src/esmockModule.js#L97-L98

@vueme esmock currently does something like this paraphrased example,
[code]
and so the partial mock won't work for your use-case (sorry)

is it OK with you if this ticket is closed?

[2022-08-16 17:39] vueme commented on #118
Thanks for quick answer!

You do not happen to have any workaround recommendation?

Thanks anyways!

[2022-08-16 17:58] iambumblehead commented on #118
@vueme these may not be great ideas but here they are :) One idea is to define both mock functions at the same time eg,
[code]

another idea is to use 'this' or some other namespace creatively like this
_originalfile.js_
[code]

_originalfile-test.js_
[code]
I didn't test these but hope their intention is expressed

[2022-08-17 08:17] vueme commented on #118
Thanks for the ideas and this great js package! I'll look into this.

[2022-08-17 08:17] #118 closed

[2022-08-19 13:24] TrashBinNp2019 opened #119 "Seems to fail with pg"
[code]
Results in a
[code]

[2022-08-19 14:45] iambumblehead commented on #119
thanks for finding and sharing this issue. I'll try to resolve it

[2022-08-19 15:08] iambumblehead commented on #119
the resolver test is passing now https://github.com/iambumblehead/resolvewithplus/pull/32

the resolver is soon to get a big update and its great to add this extra test case there

[2022-08-19 15:38] iambumblehead commented on #119
@TrashBinNp2019 would you verify if the published solution resolves the issue for you? https://github.com/iambumblehead/esmock/releases/tag/v1.9.5

[2022-08-19 15:52] TrashBinNp2019 commented on #119
Yup, all is good. Thanks a lot for quick response. Closing

[2022-08-19 15:52] #119 closed

[2022-08-19 16:26] iambumblehead opened #121 "[poll] is it a good idea?: rename 'partial mock' to 'merged' or 'blended' mock"
Is it a good idea to rename 'partial mock' to 'merged' or 'blended' mock?

If you're cc'd here feel free to ignore or give an opinion whichever is fine, cc: @Swivelgames @tripodsan @aladdin-add @jakebailey

Currently, "partial mock" is described this way in the README (and the [wiki link is here][0]),
[code]

The words "merged", "blended" and "assigned" are more accurate imo. What do you think?
[c

[2022-08-19 16:48] jakebailey commented on #121
I think "partial" is the correct term to use, but I would recommend renaming those functions to be more descriptive, e.g. to explicitly call this function `partial`.

But, I might be confused as to the difference between `p`, `px`, etc; it wasn't clear to me what they did, but at least in my case, I never wanted a partial mock anyway.

[2022-08-20 09:21] tripodsan commented on #121
the recent change to make the non-partial mock the default was a bit of a surprise (and broke many of our tests :-). I think that most mocking needs are partial...

In any case, `partial` is good term.

before ESM, I used [proxyquire](https://www.npmjs.com/package/proxyquire), and they call it `callThru`.

alternatively, you could change the way existing methods are proxied, eg with:

[code]

or s

[2022-08-20 15:27] iambumblehead commented on #121
I agree with this and would actually prefer if partial mocking were the default behaviour (again). Partial mocks work for all tests "partial" or "not partial". Instead of an option to enable partial mocking, there could be an option to disable partial mocking, eg like this,
[code]

[2022-08-20 15:33] jakebailey commented on #121
Regarding:

[code]

I find this confusing, because the object passed is a mapping of import specifiers to contents, not an options bag. I wouldn't recommend using the same parameter for two things.

As for partial default or not, I definitely prefer not having it partial by default; this matches jest's mocking behavior: https://jestjs.io/docs/next/mock-functions#mocking-partials

I worry about thi

[2022-08-21 08:06] iambumblehead commented on #113
resolved here https://github.com/iambumblehead/esmock/pull/122 closing

[2022-08-21 08:06] #113 closed

[2022-08-23 19:06] iambumblehead opened #125 "document or catch this error"
[code]
this happens when the target module imports named values from a mocked module, where the mock is not a partial mock and is missing the definition reported in the error

probably this error should be caught and rethrown with a message recommending a solution: define the missing name on the mock definition or use a partial mock

[2022-08-24 15:50] cawa-93 opened #126 "Can't mock package 'vue' if it doesn't installed"
My case: I have generated package like below:
[code]
And I want to test this package. The point of the test is just to check that function `h` was called with the correct parameters.

So I tried mock `h` function from `vue`
[code]

It works great. But, only if the `vue` is installed as a dependency. Because in reality no `vue` functionality is used anywhere, I tried to remove this dependency, but

[2022-08-24 15:55] iambumblehead commented on #126
this is an interesting scenario I did not think of @cawa-93

[2022-08-24 16:07] iambumblehead commented on #126
another suggestion on could try, write a file like this before running the test "./node_modules/vue/index.js" this would probably be located by node as a cjs module which would make the error go away

[2022-08-24 16:32] cawa-93 commented on #126
@iambumblehead This loader works for me
[code]

[2022-08-24 16:59] iambumblehead commented on #126
@cawa-93 awesome ok let's try to update esmock. Do you need a solution now or is it ok if day or two go by before changes are made?

[2022-08-24 17:04] iambumblehead commented on #126
the soonest I could look into this myself is maybe 7 or 8 hours from now

[2022-08-24 17:05] cawa-93 commented on #126
Ok. I will try to make pr ASAP. A few days, I think

[2022-08-24 17:06] iambumblehead commented on #126
@cawa-93 if there is a PR with passing tests it can be merged and published as soon as its ready

[2022-08-24 17:21] cawa-93 commented on #126
After thinking again, I think I won't find enough time to figure it out and make a change. In any case, you can do it faster (although, personally, these changes are not urgent for me). Therefore, I will leave PR to you. Thanks again for the quick response.

[2022-08-25 08:39] #126 closed

[2022-08-25 08:54] iambumblehead commented on #126
@cawa-93 please confirm if this resolves the issue for you https://github.com/iambumblehead/esmock/releases/tag/v1.9.7

if you think the interface should be changed or have any criticisms or suggestions feel free to give your opinion

[2022-08-25 09:37] cawa-93 commented on #126
@iambumblehead It's work like a charm ✨ Thanks
Did you forget to add a new `isPackageNotFoundError` parameter to the type declaration?
https://github.com/iambumblehead/esmock/blob/968b357d6b3930134e0b7efbc12f5b2fcacbb36b/src/esmock.d.ts#L22-L25

[2022-08-25 09:45] iambumblehead commented on #126
@cawa-93 yes I did forget

[2022-08-25 09:47] iambumblehead opened #128 "update types to include additional options"

[2022-08-25 09:48] iambumblehead opened #129 "update first example in README to be more interesting"

[2022-08-28 04:42] iambumblehead commented on #129
closed with https://github.com/iambumblehead/esmock/pull/132

[2022-08-28 04:42] #129 closed

[2022-08-28 05:09] iambumblehead opened #133 "allow loader to be specified w/out '=' in loader=esmock"

[2022-08-28 06:37] iambumblehead commented on #133
resolved with https://github.com/iambumblehead/esmock/pull/134

[2022-08-28 06:37] #133 closed

[2022-08-28 18:46] #128 closed

[2022-08-28 18:50] iambumblehead commented on #125
let's skip this one --it is possible to figure this out without a special error message

[2022-08-28 18:50] #125 closed

[2022-08-28 19:20] iambumblehead commented on #121
We could rename 'px' to 'partial' and if anyone feels strongly about it, it could be renamed.

There is a quote I read from Bjarne Stroustrup that I could not find, but basically what he says is, longer names can be better for things that are used less frequently, shorter names can be better for things that are used more frequently.

I was previously using rewiremock for cjs tests and my rewiremoc

[2022-08-29 15:43] iambumblehead commented on #121
[code]
If partial-mocking is the default behaviour, new users won't encounter this error, which happens when a mocked module does not define an imported name. For this reason, it might be better to use partial mocking by default and strict mode as optional

[2022-08-29 15:53] jakebailey commented on #121
If I'm mocking a library, 90% of the time it's because it has side effects. I think I'd be pretty frustrated if I was doing a refactor and my tests started executing commands because I was replacing exec with spawn, or some API call with another, and I hadn't yet updated my tests to mock that call. (But, I'm repeating myself.)

I'm not aware of any module mocking library that defaults to a partial

[2022-08-29 15:58] iambumblehead commented on #121
Thanks for the convincing reply. Maybe, to avoid that error, names that aren't defined by the mock could be exported as "esmockstub" or something similar.

[2022-08-29 16:00] jakebailey commented on #121
I'm not sure what you mean; doesn't that error imply that the test code just needs to add what the importing code is using? That seems like a good error to me, as it informs the user that their mock is not complete yet.

Potentially, this could have a better error (somehow), if readability is a concern.

[2022-08-29 16:02] tripodsan commented on #121
yes, proxyquire.

and I think, many users that switch to ESM, replace proxyquire with esmock (as there is no good alternative).
so maybe, call it `proxymport` instead of `esmock`, and we're good :-)

[2022-08-29 16:09] jakebailey commented on #121
I'm coming from a background of jest mocks (and other mocking libraries for objects like sinon, ts-mockito, typemoq, ts.moq), all of which aren't partial like that; I guess I would have expected a similar view (especially as jest doesn't really have ESM mocking yet; part of the reason I'm here)

[2022-08-29 16:22] iambumblehead commented on #121
I'm not sure what to think so am not replying. Both "strict" and "partial" are supported and the default behaviour should probably be one that is preferred by most users. But there aren't many users.

@jakebailey's replies here are convincing and subjectively I also relate to the proxyquire experience mentioned by @tripodsan

[2022-08-29 17:49] iambumblehead commented on #121
@Swivelgames @aladdin-add @cawa-93 politely, would you share your opinion on this question: **which should be the default esmock behaviour?: "partial" mocking or "strict" mocking?**

To demonstrate the difference, a target module might look like this,
[code]

Here's what happens when partial or strict mocking are used. Note the "partial" and "strict" functions don't exist on esmock now, they are u

[2022-08-29 17:57] cawa-93 commented on #121
After a quick look at the documentation, I get the impression that you only mock what you specified.  In other words, call `esmock('module.js')` should work identically to the native `import('module.js')` and not throw an exception.  This, as I understand it, corresponds to the behavior of partial mokck.  In addition, it will allow to make changes in the modules without making changes to the tests

[2022-08-30 12:31] iggyzap commented on #71
Total horror to debug mocking error with minification.

[2022-08-30 14:28] iambumblehead commented on #71
@iggyzap delete the npm-published esmock from node_modules, then clone the github esmock in its place
[code]

[2022-08-30 17:55] iambumblehead commented on #121
let's wait a day or two and see if anyone else comments

[2022-08-30 20:28] gmahomarf commented on #121
Hey, I appreciate you asking for my input.

So far, I agree with @jakebailey. Borrowing the existing terminology in this thread, "strict" is what I have come to expect the default to be, regardless of the mocking library. I could go on for hours about the reasons why I believe this, but I'll summarize instead.

The component under test should be fully under one's control. From imported constants,

[2022-08-30 21:51] iggyzap opened #137 "How to mock class ?"
Let's consider following source file:
[code]

And unit test for it:
[code]

Unfortunately secrets manager when instantiated with constructor is not mocked, but presented as actual class.
What is the guideline how to mock it ? Is there additional information that I can provide to diagnose ?

Please forgive me if SecretsManager source is coming from typescript and it seems that by default it is reso

[2022-08-30 23:16] iambumblehead commented on #137
@iggyzap to use --loader with jest, jest-light-runner must be used, as in [the example test here](https://github.com/iambumblehead/esmock/blob/master/tests/tests-jest/package.json)

Try using jest-light-runner and if things still aren't working, message back we'll get it working. We could add your example test to the test-folder [in the link here](https://github.com/iambumblehead/esmock/blob/maste

[2022-08-30 23:21] iambumblehead commented on #137
maybe the wiki should be updated with more details about jest-light-runner

[2022-08-31 10:01] iggyzap commented on #137
I've got it working. Wonder if it's possible to automock classes, without explicitly declaring them ?

See steps below:

1. setting `jest` runner to be `jest-light-runner`
2. using NODE_OPTIONS for the loader: `NODE_OPTIONS="--loader=esmock --experimental-vm-modules" jest --config jest.config.cjs`
4. Javascript which imports library:
[code]
5. Test code that validates that `listSecrets()` was call

[2022-08-31 11:48] iggyzap opened #138 "Partial mocking of module under test"
Let's consider a scenario when we want to have a number of methods within a module replaced by mocks but want to test a specific method and it's interactions and don't want to extract these _helper_ methods into different javascript file.

Is that something achievable with current version of esmock ?

Example:
[code]

And test:

[code]

[2022-08-31 11:50] iambumblehead commented on #137
Thanks for sharing the successful steps. As for auto-mocking, maybe something like one of the below could be used. These aren't tested and I'm not sure what use cases your tests need to solve...
[code]
Or maybe a factory that generates a different versions of the foo.js import tree with different instances of client-secrets-manager mock,
[code]

if the issue resolved overall, please close this iss

[2022-08-31 11:54] iggyzap commented on #137
Actually, nice way to have narrow scope for the module under test :)

[2022-08-31 11:54] #137 closed

[2022-08-31 12:01] iambumblehead commented on #138
I don't think it is achievable with esmock. See this discussion here https://github.com/iambumblehead/esmock/issues/118#issuecomment-1216948048

[2022-08-31 12:52] #138 closed

[2022-08-31 13:20] iambumblehead commented on #121
Based on the discussion, my sense is to force the user to import one of these,
[code]

and remove support for this altogether,
[code]

[2022-09-01 08:40] tripodsan commented on #121
I don't think that's the gist of this thread.... I think most are just against `px`.

from what I understand is:
- keep `strict` as default
- use `esmock.partial(..)` if needed (or `import esmock from 'esmock/partial` )

[2022-09-01 15:56] iambumblehead commented on #121
Ok, it could be done that way. There's an MR here https://github.com/iambumblehead/esmock/pull/139 but tests fail because ts-node doesn't resolve specifiers for './partial' and './strict', https://github.com/TypeStrong/ts-node/discussions/1877

I agreed with the points by cawa-93 completely including the import suggestion he made. I did not like gmahomarf's suggestion a choice be made they agree w

[2022-09-01 16:08] jakebailey commented on #121
I'm not sure, but I don't know if I have enough info to reproduce it.

FWIW I would personally recommend just using named exports instead of trying to use specifiers to split up the API. Otherwise, you're going to have to write a bunch of unique d.ts files for all of these different modules, which is getting unwieldy without writing the code in TS in the first place.

[2022-09-01 16:13] gmahomarf commented on #121
All I meant to say is that some comments in this thread appear to demand a specific way of doing things, which is not how open source is supposed to be. I respect the choices afforded by open source, and that's it. I never meant to say "do what I want or I leave". I actually plan to keep using this library, regardless of what decision comes out of this thread. I spoke in first person in general te

[2022-09-01 16:38] iambumblehead commented on #121
It is understood if you are busy or for any reason can't use time on this. Also, maybe the ts-node developer will respond here https://github.com/TypeStrong/ts-node/discussions/1877

To reproduce the issue clone the branch `[use-separated-export-variants](https://github.com/iambumblehead/esmock/tree/use-separated-export-variants)`. Use npm install && npm run test:install to fetch all dependencies

[2022-09-01 16:39] jakebailey commented on #121
You could always have:

[code]

If you're trying to make the two methods visually identical and everyone from both parties satisfied. You can also have:

[code]

Besides the complexity of specifiers, named exports are a lot more discoverable via features like auto-imports.

[2022-09-01 16:42] jakebailey commented on #121
Yeah, I'm pretty busy with other stuff... I'm not sure if the ts-node devs will be able to do anything, as it seems like the error you're seeing is a TS error.

I'll try your repro steps and see what's going on; I was confused because it didn't seem like this repo used ts-node for anything, but I suppose that's one of the test cases? I know that things like ts-node have to use a separate loader me

[2022-09-01 16:45] iambumblehead commented on #121
that's awesome its great you are here thank you -- this issue seems related https://github.com/microsoft/TypeScript/issues/33079

[2022-09-01 16:46] jakebailey commented on #121
Related, yes, though it should all be supported at this point; maybe you're missing a tsconfig with the right options to get TS into module mode, or something.

[2022-09-01 16:52] cawa-93 commented on #121
It also improve code completition. When some module use default export IDE can't suggest for you "esmock" when you type "es" because, actually, module may be imported with any name. But, if you use named exports, then IDE can index modules and, It will know what module from where may be imported and _will_ suggest you "esmock" when you type "es".

[2022-09-01 17:04] iambumblehead commented on #121
@cawa-93 your responses are always informative and knowledgeable and I want to follow your suggestion. Do you think this is the best way?
[code]

[2022-09-01 17:12] cawa-93 commented on #121
I think that, taking into account backward compatibility, this is the optimal option

[2022-09-01 17:14] jakebailey commented on #121
Having everything have the `esmock` prefix feels redundant to me, but, I guess it really depends on how you're using it.

[2022-09-01 17:18] iambumblehead commented on #121
haha ok this? (feel free to suggest something else)
[code]

[2022-09-01 17:20] cawa-93 commented on #121
It's similar to build-in node modules

[code]

[2022-09-01 17:20] iambumblehead commented on #121
great point

[2022-09-01 17:24] jakebailey commented on #121
Potentially. At least then one could write `{ partial as esmock }` if they chose, or do `import * as esmock from "esmock"` and then do `esmock.partial`. I'd prefer the latter, but I'm a sucker for explicitness.

This is bikeshedding, through; all of these are functional, just with their different quirks. The prefix is okay for direct imports.

Note that for the builtin node modules, I don't believ

[2022-09-01 17:40] iambumblehead commented on #121
esmock is at version 1.9.8 and we'll include any changes here in a new major version 2.0.0. There are not many users at the moment so backwards compatibility is of lower priority (for me).

This discussion is important because we will define the interface esmock uses from now and if more people begin using esmock, it will be hard to go back and undo or change the decisions made here. Any names or

[2022-09-02 03:29] aladdin-add commented on #121
I would slightly want similar apis with [proxyquire](https://github.com/thlorenz/proxyquire), is it possible?

at the very least, good to have a migration guide moving from `proxyquire`. 😄

[2022-09-02 03:43] iambumblehead commented on #121
4 people prefer the proxyquire "partial" style default export: cawa-93, iambumblehead, tripodsan, aladdin-add
2 people prefer the "strict" style default export: jake-bailey, gmahomarf

[2022-09-06 15:51] iambumblehead commented on #121
closing https://github.com/iambumblehead/esmock/pull/141

[2022-09-06 15:51] #121 closed

[2022-09-08 05:06] luhuaei opened #142 "How to mock file internal declare class"
Hi, I want to mock some class declared on file. but it not working.
file: hasSomeClass.js
[code]
file: hasSomeBug.js
[code]
file: a.js
[code]

exec on terminal
[code]

environment:
nodejs version `v18.8.0`
test framework `tap ^16.3.0`

relateive issue:
#137

[2022-09-08 05:34] iambumblehead commented on #142
@luhuaei unless 'B' is the name of a package its not a valid moduleId. Maybe your test needs to specify a moduleId like this,
[code]

[2022-09-08 05:42] iambumblehead commented on #142
maybe the error message should be improved a little bit

[2022-09-08 06:06] luhuaei commented on #142
Thanks for quickly response.

I try to use a  specify a module file.

[2022-09-08 10:00] #142 closed

[2022-09-08 22:13] iambumblehead opened #143 "small corrections"
package description here is wrong, should describe jest not tsm https://github.com/iambumblehead/esmock/blob/master/tests/tests-jest/package.json#L3

test descriptions here are wrong, should be updated https://github.com/iambumblehead/esmock/blob/master/tests/tests-node/esmock.node.test.js#L396-L435

modulePath here should be renamed moduleId https://github.com/iambumblehead/esmock/blob/master/src

[2022-09-08 23:42] #143 closed

[2022-09-16 21:06] ericmorand opened #152 "Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main defined in [...]/node_modules/esmock/package.json"
Importing esmock@2.0.1 leads to the following error:

`Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main defined in [...]/node_modules/esmock/package.json`

[code]

[2022-09-16 22:38] iambumblehead commented on #152
@ericmorand would you give more information about your setup so that I can reproduce the issue?

Is there another "export" definition that needs to be added? https://github.com/iambumblehead/esmock/blob/master/package.json#L9-L13

[2022-09-16 22:43] iambumblehead commented on #152
@ericmorand is it possible that your setup is not using esm? I did a google search and this github issue came up in the results https://github.com/ipfs/js-ipfs/issues/4138

[2022-09-20 02:05] cyberwombat opened #154 "Unable to mock relative TS imports [jest+ts]"
Hi

So I'm wanting to mock an exported function from a file that is called from my code to test.

So the code to test:
[code]

That code makes use of this which I want to mock:
[code]

And how I test (Jest)
[code]

I am using running my code in TS transpiled to ESM (so type: module) with:
[code]

And calling my test with:
[code]

I've tried a few different scenarios but none of them will mock - th

[2022-09-20 03:45] iambumblehead commented on #154
I would expect this to work. jest-light-runner is required --do your tests use jest-light-runner? https://github.com/iambumblehead/esmock/wiki#calling-esmock-jest

[2022-09-20 03:46] cyberwombat commented on #154
I did not - I thought that I needed that if I wanted to pass the loader directly to jest. At least that's how I read the docs. Are you saying even if I pass the loader to node as I do that it won't work?

[2022-09-20 03:50] iambumblehead commented on #152
**The tests must be run using esm.** Closing this issue, but feel free to re-open if necessary

[2022-09-20 03:50] #152 closed

[2022-09-20 03:54] iambumblehead commented on #154
Yes, jest prevents --loader from reaching the test code. jest-light-runner somehow makes --loader work with jest.

[2022-09-20 03:56] cyberwombat commented on #154
Ah. I remember trying to use it but it blocks any Jest setup files in TypeScript

[2022-09-20 03:58] cyberwombat commented on #154
Actually just disabled the Jest setup - turns out it doesn't work with TS - at least not out of the box as in just adding it as a Jest runner. `  TypeError [ERR_UNKNOWN_FILE_EXTENSION]: Unknown file extension ".ts" ` (on my test file)

[2022-09-20 04:00] cyberwombat commented on #154
https://github.com/nicolo-ribaudo/jest-light-runner/issues/53

From the date I assumed its abandoned.  Gah

[2022-09-20 04:00] iambumblehead commented on #154
I'm interested to try and make this work. I hadn't considered this scenario before https://github.com/nicolo-ribaudo/jest-light-runner/issues/1

[2022-09-20 04:05] cyberwombat commented on #154
Great! whatever I can do to help. Ive been trying to switch my TS projects to ESM for 2 years now - eventually I always give up. I'm pretty close now but the spies/mocks is the last thing. Jest has `unstable_mockModule` but that barely does anything useful.

[2022-09-20 04:20] iambumblehead commented on #154
the tests in the linked PR use typescript (with tsm) and jest
[code]

[2022-09-20 15:51] iambumblehead commented on #154
@cyberwombat it looks like ts-node requires a tsconfig.json file https://github.com/nicolo-ribaudo/jest-light-runner/issues/1#issuecomment-1252551311 this test passes when the tsconfig.json is added

[2022-09-20 15:56] cyberwombat commented on #154
@iambumblehead which test specifically?  I myself don't get errors with ts-node (also used `ts-node/esm/transpile-only` as a loader) but nothing gets mocked. Are you using pure Jest or with jest-light-runner?

[2022-09-20 16:07] iambumblehead commented on #154
Changes to use ts-node/esm with jest-light-runner are pushed to the PR here https://github.com/iambumblehead/esmock/pull/155

I'm doubtful the setup files can be supported :/

[2022-09-20 18:52] iambumblehead commented on #154
closing this ticket and feel free to re-open for any reason

[2022-09-20 18:52] #154 closed

[2022-09-24 07:55] iambumblehead opened #160 "reduce size of typescript types file [need help]"
When the package is published to npm, these filesizes are listed,
[code]

Total size from all files is 16.1kB and 4.4kB is 27% of 16.1kB. The types file has multiple repeated sections in it.

[2022-09-25 04:55] iambumblehead commented on #160
related https://github.com/iambumblehead/esmock/pull/163

[2022-09-26 19:50] iambumblehead commented on #160
related https://github.com/iambumblehead/esmock/pull/164

[2022-09-26 20:52] jsejcksn commented on #160
This is not something to be concerned about. Types are only used during development (pre-compilation) and are not included in production builds/bundles, so they'll have no effect on terminal consumer bandwidth.

[2022-09-28 14:05] #160 closed

[2022-09-29 07:55] cawa-93 opened #169 "`MockFunction` return type may be generic"
https://github.com/iambumblehead/esmock/blob/28cbda5dfa97d73757d6c37d53a74f14d1b9156b/src/esmock.d.ts#L9

It allows you type mocked module like so:
[code]

[2022-09-29 08:01] cawa-93 commented on #169
cc:  @jsejcksn

[2022-09-29 12:06] iambumblehead commented on #169
is the issue that, the new typescript types file is forcing you to define `<typeof import('/module/path')>`? should we revert the esmock.d.ts?

[2022-09-29 12:12] cawa-93 commented on #169
No. It's enhansment. Currently `esmock('module/path')` return `any` and user will not get code intellisense. Type resolution from module may be automated if https://github.com/microsoft/TypeScript/issues/31090 will be resolved.

Actually, I just realise, that user can set type just like: 🤦🏻‍♂️

[code]

So, I close this as no actual, until https://github.com/microsoft/TypeScript/issues/31090 was re

[2022-09-29 12:12] #169 closed

[2022-09-29 12:13] iambumblehead commented on #169
@cawa-93 thanks for sharing that is great

[2022-10-03 12:52] gmahomarf opened #171 "Strict mocking isn't working as expected"
I've noticed two problems with strict mocking:

1. Given a dependency that provides a default export, when I call `esmock` in strict mode on a dependent module and I don't define a `default` export for the mocked dependency, I expect `esmock` to fail due to the missing default export. What actually happens is that it sets the entire mock definition object to the value of the default export.
2. Whe

[2022-10-03 15:48] iambumblehead commented on #171
I hope to resolve the first item today,

For the second issue, this is the intended behaviour,
 * if a module's specifier is not found in the mock definition, the original module continues to be imported to the mock import tree,
 * if a module's specifier is found in the mock definition of a strict import tree, only the mock definition is imported to the mock import tree,
 * if a module's specifie

[2022-10-03 16:47] gmahomarf commented on #171
Thanks for the quick response.

I had noticed the short-hand default imports that you mentioned, but I can't really say what would be the right approach here. It's a pretty useful feature for both strict and partial modes, and I'm not sure it would be easy to distinguish between a short-hand mock and one that's just missing the default value.

For the second issue, any chance I can convince you to

[2022-10-03 16:50] iambumblehead commented on #171
We could update esmock to use the "very strict" behaviour described in point 2. If we do this, my intuition is to introduce a new mode for this like "esmock.strictest". Do you think these would be OK @gmahomarf?
 1. add support for esmock.strictest --require all mocked tree imports to be defined?
 2. disable short-hand default for strict mode (or maybe for strictest mode only). If a mock definitio

[2022-10-04 07:57] gmahomarf commented on #171
1. 👍
2. I think this one merits a larger discussion with a larger audience. On the one hand, it's a pretty useful feature. On the other hand, default exports are always explicitly defined in real modules, so it makes sense they would have to be explicitly defined in mock modules.

[2022-10-04 18:11] iambumblehead commented on #171
@gmahomarf if an imported module is not mocked for the strictest import tree, which outcome do you prefer?
 1. the imported module exports something like `export { nullval as default }` and a runtime error will occur when the parent module attempts to use the imported child,
    * `"child.namedExport is not a function"`
 2. the imported module exports nothing and a runtime error like this would oc

[2022-10-04 19:04] iambumblehead commented on #171
@gmahomarf to support the first option completely, named exports at the child module would need to be defined by esmock so as to support `import { name } from './child.js'` otherwise runtime errors occur right away before the child module is used by the parent.

Supporting the second and third option above is preferred because those are simpler and require fewer additions.

[2022-10-04 19:12] iambumblehead commented on #171
@tripodsan @aladdin-add feel free to ignore this of course but if you have an opinion [on either of these][0] it would be great to know what you think.

[0]: https://github.com/iambumblehead/esmock/issues/171#issue-1394682908

[2022-10-04 19:21] gmahomarf commented on #171
If I'm not mistaken, options one and two already happen in strict mode (you can see option two in action in my gist, the test under 'named export missing')

For strictest, I'm leaning towards option 3. It makes the most sense to me.

[2022-10-04 19:32] gmahomarf commented on #171
I'm in no hurry.

[2022-10-05 14:14] #171 closed, assigned to nobody

[2022-10-05 14:52] iambumblehead commented on #171
its published https://github.com/iambumblehead/esmock/releases/tag/v2.0.5

[2022-10-11 08:13] head-gardener commented on #119
great, thanks a lot for quick response

пт, 19 авг. 2022 г., 18:08 iambumblehead ***@***.***>:

[2022-10-13 10:35] umakanth-pendyala opened #174 "Error: invalid moduleId when trying to stub a module dependency ES6"
I have created 2 files add.js and server.js. The files are as follows

add.js

[code]
server.js

[code]
I have written a unit test file for server.js as follows

[code]
I have used a library called esmock which works similarly to proxyquire. But when I ran the test using mocha. I got the following error

` Error: invalid moduleId: "./add.js"`
I am wondering what could be the issue here. Is the pro

[2022-10-13 14:12] iambumblehead commented on #174
@umakanth-pendyala try this. Also, ff server.js and add.js are in the same directory, define the mock definition on "../add.js" (same location as "../server.js"),
[code]

[2022-10-13 16:53] umakanth-pendyala commented on #174
Tried that, no luck.

[2022-10-13 19:10] iambumblehead commented on #174
Awesome. When that error is thrown, the [full path is shortened.](https://github.com/iambumblehead/esmock/blob/master/src/esmockErr.js) If the error showed the full path, it would have been easier to see the path wasn't right.

Maybe the full path should be printed.

[2022-10-13 19:11] iambumblehead commented on #174
Thanks for using esmock and for opening this issue

[2022-10-14 02:53] #174 closed

[2022-10-17 18:02] koshic opened #176 "What about Yarn PnP support?"
Any loader used in PnP mode can't resolve/load any packages except Node builtins. Yep, we have discussion in Node community how to improve loaders, how to redesign API, etc.

But now only one way - to have bundled loader. It works perfectly for me (I use simple esdbuild-based transpiler for .ts, as an example), but I can't use esmock 'out of box' (proxy bundle is the way, but...) to try node nativ

[2022-10-17 22:08] iambumblehead commented on #176
@koshic does resolvewithplus need to be removed from package.json? If resolvewithplus is not removed from package.json, but if esmock does something like this, would this work for your situation?
[code]

[2022-10-17 23:47] koshic commented on #176
@jakebailey I think the second one is the best solution, with marking resolvewithplus as optional peer dependency, thx!

[2022-10-18 01:27] koshic opened #177 "Minified sources in esmock package"
It's not a feature request (yet), but only question - why?

From my understanding, JS ecosystem provides the greatest debugging ability - everything is script, and you can easily inspect / modify installed packages without IDA. And browser-like minification totally breaks it.

Package download size? No - packages published as archives with good text compression out of the box.
Package disk usage?

[2022-10-18 01:49] koshic opened #178 "Invalid check in esmockIsLoader.js"
https://github.com/iambumblehead/esmock/blob/5dfe486f8837c25d9651a0f269abfa454c3e342e/src/esmockIsLoader.js#L1

What if esmock loaded indirectly, as part of other loader?

<img width="410" alt="image" src="https://user-images.githubusercontent.com/20106607/196315360-71b0af44-5d16-4ff6-bb4d-51b2c23293ce.png">

`Error: process must be started with --loader=esmock`

I suggest to set flag in global ob

[2022-10-18 03:05] iambumblehead commented on #178
Loader's will use separate thread wout access to that global object https://github.com/nodejs/node/pull/44710

Would something like this work for indirect loading? What do you think?
[code]

[2022-10-18 03:23] iambumblehead commented on #177
Mostly, I think its cool to have a really small package size --inspired by these packages emphasizing smallness,
 * https://github.com/ai/nanoid
 * https://github.com/nanostores/nanostores
 * https://github.com/usmanyunusov/nano-staged
 * https://github.com/lukeed/uvu/

That's the [recommended way.](https://github.com/iambumblehead/esmock/issues/71#issuecomment-1231747807) I don't believe many peo

[2022-10-18 05:06] iambumblehead commented on #176
there will be less maintenance, if we wait for import.meta.resolve to be stable and complete before using it.

[2022-10-18 05:19] iambumblehead commented on #176
a good idea BUT esmock tried exporting something like this a month or two ago and typescript does not support this sort of thing https://github.com/TypeStrong/ts-node/discussions/1877 even if typescript could (or can?) do this, the support is or will not be great and annoying complexity necessary to placate typescript

[2022-10-18 06:01] iambumblehead commented on #178
another way might be to support a call like this, where the options param defines "isLoaderRequired" as false,
[code]

[2022-10-18 10:08] koshic commented on #178
What is the reason to check? For my understanding, it was created to avoid setup mistakes (for users) and to make predictable environment (for author).

So, this check in not about particular Node parameters / esmock, it's about esmock resolve/load hooks (both!) are loaded by Node engine.

How to achieve that? I see 2 obvious options:
1) Composite flag like 'isLoadHookInstalled/ usResolveHookInsta

[2022-10-18 10:15] koshic commented on #177
If you don't believe that people will be changing something in node_modules / .yarn/unplugged, why do you place readme inside tarball? )

[2022-10-18 10:41] koshic commented on #176
It supports:
<img width="1683" alt="image" src="https://user-images.githubusercontent.com/20106607/196408516-8c224a93-9f37-453b-8930-4678b43d5ae1.png">

[2022-10-18 15:54] koshic commented on #176
--experimantal-loaders is experimental too, so waiting can be looong )

[2022-10-18 16:19] iambumblehead commented on #177
* npm automatically includes README in the package,
 * the README is needed to show something to people visiting the npm page https://www.npmjs.com/package/esmock
 * the inspiration packages listed above come with READMEs
 * the README and even the ascii art are important

[2022-10-18 16:24] koshic commented on #178
I mean that esmockIsLoader() implementation is a bit naive, and relates on way how to loader added to Node loaders chain. And my proposal is to use direct interaction with 'black box' (Node + any number of loaders), by use the following code in esmockIsLoader:
[code]

If esmock hooks were loaded, they will handle this request and return something to 'xxx' variable (just for example).
If there is n

[2022-10-18 16:32] iambumblehead commented on #178
@koshic an interesting and clever idea :) yes I like that

[2022-10-18 17:48] koshic commented on #178
Yep, it's an unblockable pipe between loaders & 'user space'.

[2022-10-19 03:16] iambumblehead commented on #176
@koshic if you approve [this PR,][0] let's merge and use follow-up PRs to specifically resolve the two issues,
 1. https://github.com/iambumblehead/esmock/issues/178 use loader mechanism directly to detect esmock loader,
 2. https://github.com/iambumblehead/esmock/issues/176 (this ticket) make resolvewithplus an optional dependency

I have not used optional dependencies myself so am interested to

[2022-10-19 11:48] koshic commented on #176
@iambumblehead I will approve after few small fixes )

And yes, import.meta.resolve returns all paths:
<img width="1693" alt="image" src="https://user-images.githubusercontent.com/20106607/196682377-fa32eb0e-8280-45f3-b6d6-58c1008cd453.png">

[2022-10-19 18:53] iambumblehead commented on #177
closing this, feel free to re-open or discuss as you may prefer

[2022-10-19 18:53] #177 closed

[2022-10-26 09:13] iambumblehead commented on #178
changes are published and deployed https://github.com/iambumblehead/esmock/releases/tag/v2.0.7

[2022-10-26 09:13] #178 closed

[2022-10-26 09:13] iambumblehead commented on #176
changes are published and deployed https://github.com/iambumblehead/esmock/releases/tag/v2.0.7

feel free to re-open if there is any issue :)

[2022-10-26 09:13] #176 closed

[2022-11-13 00:59] SmashingQuasar opened #185 "Unable to mock the native node:zlib module with TypeScript and Mocha/Chai/Sinon."
Hey!

I am currently working on a project using Node 18, TypeScript 4.8, purely ESM written using `.mts` files and the Mocha + Chai + Sinon test framework.

I have a very simple code to test that sets a header to a `ServerResponse` object and then pipes it through `zlib` to enable Gzip compression.

The code is as follows:

[code]

This is part of a class `Response` that extends `ServerResponse`.

[2022-11-13 03:39] iambumblehead commented on #185
@SmashingQuasar thanks for opening this issue. Two things, one: only the esmock-returned `Response` will use the mocked import tree and so that is the Response definition that should be used in the test,
[code]
The other thing is that esmock's scripted resolver might not handle the 'mts' extension correctly. If that's the case,, run the test process with this argument `--experimental-import-meta-r

[2022-11-13 15:28] SmashingQuasar commented on #185
@iambumblehead Hey!

Thanks for your super-quick answer!

Actually I figured out what I was doing wrong just before I read your answer. It was indeed because I was not using the returned mocked module and was attempting to use the native one. I probably misread the documentation, my bad!

It works perfectly using `.mts` and Sinon. Thanks for your work, this library works like a charm, it totally s

[2022-11-13 15:28] #185 closed

[2022-11-22 15:20] re-kfa opened #186 "Partial mocking not working as expected"
Hi,
I'm trying to partially mock an imported module, but esmock seems to mock the whole module so that functions which I don't want to mock are not available.

app.js:
[code]

app.test.js:
[code]

Expected result:
Output from mocked passport.use method and **call of original passport.initialize method**

Actual result:
`TypeError: passport.initialize is not a function
    at file:///C:/../src/app.

[2022-11-22 16:53] iambumblehead commented on #186
@re-kfa try this and if it doesn't work, we'll use a unit test for your example and make it work
[code]

[2022-11-25 10:34] PatrickHeneise opened #187 "Issues with pnpm"
This works fine when modules are installed with `npm`, but with `pnpm` the module id doesn't seem to match and the module code is executed. When using `strictest`, it complains about the module id not found.

### code

[code]

### test

[code]

[2022-11-25 13:55] re-kfa commented on #186
@iambumblehead thanks for your answer. unfortunately it is not working. same error as before.
What do you mean by "adding a unit-test"?

[2022-11-25 18:26] iambumblehead commented on #187
Related PnP-compatibility changes were made for this issue https://github.com/iambumblehead/esmock/issues/176

@koshic do you know of a solution for using esmock with PnP? It seems to still not be working. @koshic @PatrickHeneise esmock could be updated with changes you might recommend for resolving this issue

[2022-11-25 18:39] mshima commented on #186
I got hit by this problem.
Looks related with `resolvewithplus` at windows.
Enabling `--experimental-import-meta-resolve` fixes the problem.

[2022-11-25 19:20] koshic commented on #187
@iambumblehead pnpm and yarn PnP are very different things )

I can answer about PnP only:
1. yarn unplug esmock to place it somewhere inside .yarn/unplugged dir
2. yarn node --loader $(yarn node --input-type=module -e 'console.log((await import("module")).default.findPnpApi(".").resolveRequest("esmock", `${process.cwd()}/dummy.js`, { conditions: new Set(["import"]) }))')

Sure, we can create simp

[2022-11-25 19:48] iambumblehead commented on #187
@koshic ah I see pnpm is a different thing!

@PatrickHeneise which moduleId is not found? Would you share the full message? If you use esmock with `--experimental-import-meta-resolve` do your tests run correctly?

[2022-11-25 20:22] iambumblehead commented on #186
the issue is reproduced here now https://github.com/iambumblehead/esmock/pull/188

[2022-11-25 20:38] iambumblehead commented on #186
the issue is here specifically https://github.com/iambumblehead/esmock/blob/master/src/esmockModule.js#L21-L22

esmock is assigning passport's "class instance" default export with the mock object onto a new object. Maybe we should try adding the class instance into the prototype chain of the resulting object.

[2022-11-25 20:40] iambumblehead commented on #186
this resolves the isue
[code]

[2022-11-25 20:56] mshima commented on #186
Took another looks and I think I had another issue.
[code]

Using:
[code]

Unfortunately I don't have a window machine to try to reproduce.

[2022-11-25 21:03] iambumblehead commented on #186
@mshima would you open a separate issue for that? when the moduleId not found error is seen, are you using --experimental-import-meta-resolve?

I think the original issue described in this ticket is resolved in my local branch. We'll need to publish a new version of esmock to resolve.

[2022-11-25 21:08] iambumblehead commented on #186
@mshima both this repo and the resolvewithplus repo have windows-latest pipelines and we can use those to reproduce (feel free to add a unit-test to a PR). Also I have windows virtual machine setup here that I can use.

[2022-11-25 21:15] mshima commented on #186
@iambumblehead thanks for the help.
The `the moduleId not found` error  is seen when `--experimental-import-meta-resolve` disabled.
No transpiler.

The error can be seen at https://github.com/mshima/generator/actions/runs/3549888418/jobs/5962747660.

I saw that. I was trying so see if the fix was obvious.

[2022-11-25 21:18] iambumblehead commented on #186
@mshima if you [PR-add a failing test,][0] I will merge it and try to resolve in a separate branch. Add the test to one of the test runner folders [here][0]. From esmock's root folder use `npm install && npm run test:install` to fetch all dependencies needed, then from whichever test folder is being used, `npm test` will run tests.

If you don't add a failing test that is okay also of course but i

[2022-11-25 21:19] mshima commented on #186
The repository is https://github.com/mshima/generator/commits/esm.
Removing the experimental flag from .mocharc.cjs should trigger the problem.
In any case it's working now. So the priority is low.

[2022-11-25 21:21] mshima commented on #186
I would love to help more, but I am quite busy.

[2022-11-25 21:50] iambumblehead commented on #186
https://github.com/iambumblehead/resolvewithplus/pull/41/files I tried reproducing the issue at the scripted resolver and the test there passes. I'll need to try using esmock to more closely match the situation at pipeline you linked...

github pipelines are moving slowly today :/

[2022-11-25 22:17] mshima commented on #186
I realized it’s missing the extension:
https://github.com/mshima/generator/blob/8af2d2b40c1a2af9cc3a26b27dd1b5a69046f752/test/spawn-command.js#L13
I will test when in front of a computer again.

[2022-11-25 22:28] iambumblehead commented on #186
@mshima good catch. I'm not sure if esmock should be updated in any way for this feel to give your opinion. I did clone your esm branch into the windows virtual machine I use...

[2022-11-25 23:05] mshima commented on #186
Update the extension is missing but it's wrapped at a `require.resolve` ([added to test](https://github.com/mshima/generator/commit/aa402472b1882714dec2631b193664fb8aa6c2a2) if fixes the problem).
So the end result have the extension.

[2022-11-25 23:24] iambumblehead commented on #187
@PatrickHeneise would you also try calling esmock and using the full path the the module for which the moduleId is not found? Iow, if '@google-cloud/secret-manager' is the moduleId that s not found, try something like this,
[code]

[2022-11-25 23:26] iambumblehead commented on #186
this issue should be resolved with this PR https://github.com/iambumblehead/esmock/pull/188 and esmock@2.0.8 will be published soon --feel free to re-open if the issue is not resolved or for any other reason probably

[2022-11-25 23:26] #186 closed

[2022-11-25 23:33] iambumblehead commented on #187
@PatrickHeneise also feel free to submit a failing test and I will merge and try to resolve per https://github.com/iambumblehead/esmock/blob/master/CONTRIBUTING.md

[2022-11-28 08:44] PatrickHeneise commented on #187
Thanks for the support! I'll try to run it later or tomorrow again with experimental mode and the full path, see what works.